<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe634;</i> 软件管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/app/index')}" data-title="软件编辑" href="javascript:void(0)">软件编辑</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 软件导航<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/lead/index')}" data-title="导航类别" href="javascript:void(0)">导航类别</a></li>
					<li><a data-href="{:url('admin/lead/add')}" data-title="导航添加" href="javascript:void(0)">导航添加</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe735;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/customer/index')}" data-title="查看用户" href="javascript:void(0)">查看用户</a></li>
					<li><a data-href="{:url('admin/customer/addAccount')}" data-title="账户充值" href="javascript:void(0)">账户充值</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>