

{include file="public/_meta" /}
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 导航类别 <span class="c-gray en">&gt;</span> 导航添加 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<article class="page-container">
	<div class="panel panel-danger">
		<div class="panel-header">警告</div>
		<div class="panel-body">禁止私自添加导航，请商讨后确认信息</div>
	</div>
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>项目分类：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					  <select class="select" size="1" name="pid">
							<option value="0" selected>||===顶级导航</option>
							  {volist name="nav" id="vo"}
								<option value="{$vo.id}">{$vo.title,$vo.level|AppName}</option>
							  {/volist}
					  </select>
					</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>类名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="在此处键入您的导航" name="title" required="required">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>类名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea class="textarea radius" placeholder="导航提示" name="tip" required="required"></textarea>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

{include file="public/_footer" /}

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>