<div class="grid_3">
    <div class="container">
        <!--
        <ul id="footer-links">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Royalty Free License</a></li>
            <li><a href="#">Extended License</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="support.html">Support</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="#">Categories</a></li>
        </ul>
        -->
        <p>版权所有 @CopyRight 2019
            <a href="#" target="_blank" title="{$SiteCollege.0.value}">{$SiteCollege.0.value}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" target="_blank" title="{$SiteCopy.0.value}">{$SiteCopy.0.value}</a>提供技术支持
        </p>
    </div>
</div>